project:
  type: website

website:
  page-navigation: true
  title: "VEDA Documentation"
  site-url: "https://nasa-impact.github.io/veda-docs"
  repo-url: https://github.com/nasa-impact/veda-docs
  repo-actions: [edit, issue]

  page-footer:
    right: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    left: "&copy; CC-By NASA, 2022-2024"

  sidebar:
    logo: "https://visex.netlify.app/graphics/nasa-veda-logo-pos.svg"
    pinned: true
    align: center
    tools:
      - icon: info-circle
        href: https://www.earthdata.nasa.gov/esds/veda
        text: "earthdata.nasa.gov/esds/veda"
      - icon: github
        href: https://github.com/nasa-impact/veda-docs
        text: "Repository home"
      - icon: binoculars
        href: https://earthdata.nasa.gov/dashboard
        text: "VEDA Dashboard"

    style: "docked"
    search: true
    collapse-level: 2
    contents:
      - href: index.qmd
        text: Welcome
      - section: services/index.qmd
        contents:
          - section: Core Services
            contents:
              - services/dashboard.qmd
              - services/apis.qmd
              - services/jupyterhub.qmd
          - section: Additional services
            contents:
              - services/data-store.qmd
              - services/data-ingestion.qmd
      - section: notebooks/index.qmd
        contents:
          - section: Quickstarts
            contents:
              - section: Accessing the Data Directly
                contents:
                  - notebooks/quickstarts/list-collections.ipynb
                  - notebooks/quickstarts/open-and-plot.ipynb
                  - notebooks/quickstarts/timeseries-rioxarray-stackstac.ipynb
                  - notebooks/quickstarts/visualize-zarr.ipynb
                  - notebooks/quickstarts/visualize-multiple-times.ipynb
                  - notebooks/quickstarts/downsample-zarr.ipynb
                  - notebooks/quickstarts/download-assets.ipynb
              - section: Using the Raster API
                contents:
                  - notebooks/quickstarts/no2-map-plot.ipynb
                  - notebooks/quickstarts/timeseries-stac-api.ipynb
                  - notebooks/quickstarts/hls-visualization.ipynb
          - section: Tutorials
            contents:
              - notebooks/tutorials/gif-generation.ipynb
              - notebooks/tutorials/netcdf-to-cog-cmip6.ipynb
              - notebooks/tutorials/mapping-fires.ipynb
              - notebooks/tutorials/stac_ipyleaflet.ipynb
              - notebooks/tutorials/zonal-statistics-validation.ipynb
          - section: Datasets
            contents:
              - notebooks/datasets/ocean-npp-timeseries-analysis.ipynb
              - notebooks/datasets/nceo-biomass-statistics.ipynb
              - notebooks/datasets/volcano-so2-monitoring.ipynb
              - notebooks/datasets/air-quality-covid.ipynb
              - notebooks/datasets/nldas_time_series.ipynb
              - notebooks/datasets/nldas_compare2_3.ipynb
          - section: JupyterHub
            contents:
              - hub-guides/code-server.md
              - hub-guides/ssh.md
      - section: contributing/index.qmd
        contents:
          - section: contributing/docs-and-notebooks.qmd
            contents:
              - notebooks/templates/template-accessing-the-data-directly.ipynb
              - notebooks/templates/template-using-the-raster-api.ipynb
          - section: contributing/dataset-ingestion/index.qmd
            contents:
              - contributing/dataset-ingestion/file-preparation.qmd
              - contributing/dataset-ingestion/catalog-ingestion.qmd
              - notebooks/veda-operations/generate-cmip6-kerchunk-historical.ipynb
              - section: STAC Collection Creation
                contents:
                  - contributing/dataset-ingestion/stac-collection-conventions.qmd
                  - notebooks/veda-operations/stac-collection-creation.ipynb
                  - notebooks/veda-operations/publish-cmip6-kerchunk-stac.ipynb
              - section: STAC Item Creation
                contents:
                  - contributing/dataset-ingestion/stac-item-conventions.qmd
                  - notebooks/veda-operations/stac-item-creation.ipynb
              - section: Boilerplate ingest example
                contents:
                  - contributing/dataset-ingestion/example-template/example-geoglam-ingest.ipynb
          - section: contributing/dashboard-configuration/index.qmd
            contents:
              - contributing/dashboard-configuration/dataset-configuration.qmd
              - contributing/dashboard-configuration/discovery-configuration.qmd
      - external-resources.qmd
format:
  html:
    theme:
      light: [cosmo]
      dark: [cosmo, theme-dark.scss]
    code-copy: true
    code-overflow: wrap
    css: styles.css
    toc: true
    toc-depth: 3
    include-in-header:
      - text: |
          <script defer data-domain="nasa-impact.github.io/veda-docs" src="https://plausible.io/js/script.js"></script>
filters:
  - quarto
