project:
  type: website

website:
  page-navigation: true
  title: "VEDA Documentation"
  site-url: "https://nasa-impact.github.io/veda-docs"
  repo-url: https://github.com/nasa-impact/veda-docs
  repo-actions: [edit, issue]

  page-footer:
    right: "This page is built with ❤️ and [Quarto](https://quarto.org/)."
    left: "&copy; CC-By NASA, 2022-2023"

  sidebar:
    logo: "images/Veda_logo_blue_no_text.png"
    pinned: true
    align: center
    tools:
      - icon: info-circle
        href: https://www.earthdata.nasa.gov/esds/veda
        text: "earthdata.nasa.gov/esds/veda"
      - icon: github
        href: https://github.com/nasa-impact/veda-docs
        text: "Repository home"
      - icon: binoculars
        href: https://earthdata.nasa.gov/dashboard
        text: "VEDA Dashboard"

    style: "docked"
    search: true
    collapse-level: 2
    contents:
      - href: index.qmd
        text: Welcome
      - veda-jh-access.qmd
      - veda-apis.qmd
      - section: example-notebooks/index.qmd
        contents:
          - section: Quickstarts
            contents:
              - section: Accessing the Data Directly
                contents:
                  - example-notebooks/list-collections.ipynb
                  - example-notebooks/open-and-plot.ipynb
                  - example-notebooks/timeseries-rioxarray-stackstac.ipynb
                  - example-notebooks/visualize-zarr.ipynb
                  - example-notebooks/visualize-multiple-times.ipynb
                  - example-notebooks/downsample-zarr.ipynb
                  - example-notebooks/intake.ipynb
                  - example-notebooks/wfs.ipynb
              - section: Using the Raster API
                contents:
                  - example-notebooks/no2-map-plot.ipynb
                  - example-notebooks/timeseries-stac-api.ipynb
                  - example-notebooks/hls-visualization.ipynb
          - section: Tutorials
            contents:
              - example-notebooks/gif-generation.ipynb
          - section: Datasets
            contents:
              - example-notebooks/ocean-npp-timeseries-analysis.ipynb
              - example-notebooks/nceo-biomass-statistics.ipynb
              - example-notebooks/volcano-so2-monitoring.ipynb
              - example-notebooks/air-quality-covid.ipynb
      - section: Contributing
        contents:
          - contributing/docs-and-notebooks.qmd
          - section: contributing/dataset-ingestion/index.qmd
            contents:
              - contributing/dataset-ingestion/file-preparation.qmd
              - contributing/dataset-ingestion/catalog-ingestion.qmd
              - contributing/dataset-ingestion/stac-collection-conventions.qmd
              - contributing/dataset-ingestion/stac-item-conventions.qmd
          - section: contributing/dashboard-configuration/index.qmd
            contents:
              - contributing/dashboard-configuration/dataset-configuration.qmd
              - contributing/dashboard-configuration/discovery-configuration.qmd
      - external-resources.qmd
format:
  html:
    theme:
      light: [cosmo]
      dark: [cosmo, theme-dark.scss]
    code-copy: true
    code-overflow: wrap
    css: styles.css
    toc: true
    toc-depth: 3
filters:
  - quarto
